#imCel1_01 {position: absolute; top: 0px; left: 10px; height: 582px; width: 776px; }
#imObj1_01 {padding: 0px; }
#imCel1_01_Cont {text-align: center; height: 582px; overflow: hidden; }
#imPage {position: relative; height: 592px; }

