#imCel4_00 {position: absolute; top: 0px; left: 10px; height: 894px; width: 777px; }
#imObj4_00 .ff0 {font-family: Times New Roman; }
#imObj4_00 .ff1 {font-family: Tahoma; }
#imObj4_00 .ff2 {font-family: Tahoma; }
#imObj4_00 .fc1 {color: #FFFFFF; }
#imObj4_00 .fc2 {color: #000000; }
#imObj4_00 .fs10 {font-size: 13px ; vertical-align: baseline; line-height: 22px ; }
#imObj4_00 .cbct0 {border-top: 1px solid #000000}
#imObj4_00 .cbcl0 {border-left: 1px solid #000000}
#imObj4_00 .cbcr0 {border-right: 1px solid #000000}
#imObj4_00 .cbcb0 {border-bottom: 1px solid #000000}
#imObj4_00 table {border-collapse: collapse; }
#imObj4_00 {padding: 0px; }
#imCel4_00_Cont {text-align: center; height: 894px; overflow: hidden; }
#imCel4_00 table {margin: 0 auto; }
#imPage {position: relative; height: 904px; }

